@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap');
body{
    background-color: #192a32;
    font-family: "Nunito";
    overflow: hidden;
    font-weight: 900;
}
#center{
    width: 500px;
    margin:0 auto;
    text-align: center;
}
.startContainer{
    margin-top: 100px;
    /* display: none; */
}
#logo > *{
    display: inline;
}
.bluesky{
    color:#3ac0b8;
}
.bg-bluesky{
    background-color:#3ac0b8;
}
.gold{
    color: #e9af3d;
}
.bg-gold{
    background-color: #e9af3d;
}
.low-grey{
    color:#4f6570;
}
.bg-grey{
    background-color: #a8bec9;
}

.dark{
    color:#192a32;

}
.bg-dark{
    background-color:#192a32;
}
.f32{
    font-size: 2rem;
}

.textcenter{
    text-align: center;

}
.radius-5{
    border-radius: 0.5rem;
}
.newGameContainer{
    background-color: #1f3540;
    padding: 0.4rem;
    box-shadow: 0.2rem 0.1rem #0f202a;
    color: #a2b8c3;
    font-size: 0.8rem;
    text-transform: uppercase;
}
.gameContainer{
    /* display: none; */

}
.markcontainer{
   box-sizing: border-box;
   padding: 0.5rem;
   text-align: center;
}
.marker{
    display: inline-block;
    text-align: center; 
    width: 210px;
    font-size: 2rem;
    margin: 0;
    cursor: pointer;
    
}
.select{
    background-color: #a8bec9;
}
.btn{
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    outline: none;
    text-decoration: none;
    border:none;
    font-size: 16px;
    margin: 10px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
    box-shadow: 2px 5px #142c33;
}

.options{
    display: flex;  
    justify-content: space-between;
    align-items: baseline;
    padding-left: 100px;
    padding-right: 100px;
    position: relative;
    top: 90px;
    left: 25px;


}
.grid{
    display: grid;
    gap: 3px;
    grid-template-columns: repeat(3,1fr);
    padding: 100px
}
.cell{
    background-color: #1f3540;
    padding: 20px;
    border-radius: 10px;
    width: 60px;
    height: 60px;
    margin: 5px;
    box-shadow: 0px 6px #0f202a;
    font-size: 35px;
    cursor: pointer;
}
.retryBtn{
    padding: 0.5rem;
    width: 40px;
    height: 40px;
    box-shadow: 0px 4px #0f202a;
    border-radius: 6px;
    font-size: 1.2rem;
}
.turn{
    width: 100px;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 1rem;
    background-color: #1f3540;
    text-align: center;
    color: #a8bec9;
    box-shadow: 0px 6px #0f202a;
    
}
.bold{
    font-weight: 900;
}
.scoreBoxes{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    bottom: 90px;
    left: 20px;
    padding: 0 60px;
}
.scoreBox{
    width: 80px;
    padding: 6px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 400;
}
.scoreBox p{
    margin: 0;
}
.scoreBox .scoreSmall{
    font-weight: 300;
    font-size: 14px;
}
.overlay{
    position: fixed;
    z-index: 99999;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}
.result{
    position: absolute;
    top: 25vh;
    text-align: center;
    background-color: #192a32;
    width: 100%;
    height: 200px;
    padding: 20px;
}